@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(202, 202, 202);
}

.container {
    text-align: center;
}

#clock {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: bold;
}

#date {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 20px;
}

#weather {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-top: 20px;
}